{% set amazonConfig = oViewConf.getAmazonConfig() %}
{% set sToken = oViewConf.getSessionChallengeToken() %}
{% set aPayload = oViewConf.getPayloadSignIn() %}
<div class="amazonpay-button {{ buttonclass }}" id="{{ buttonId }}"></div>
{% capture assign = "amazonpay_login_script" %}
    if (typeof {{ buttonId }}_is_rendered === "undefined" || {{ buttonId }}_is_rendered !== true) {
        amazon.Pay.renderButton('#{{ buttonId }}', {
            merchantId: '{{ amazonConfig.getMerchantId() }}',
            ledgerCurrency: '{{ amazonConfig.getLedgerCurrency() }}',
            sandbox: {% if amazonConfig.isSandbox() %}true{% else %}false{% endif %},
            checkoutLanguage: '{{ amazonConfig.getCheckoutLanguage() }}',
            productType: 'SignIn',
            placement: 'Cart',
            buttonColor: 'Gold',
            signInConfig: {
                payloadJSON: '{{ aPayload|raw }}',
                signature: '{{ oViewConf.signature }}',
                publicKeyId: '{{ amazonConfig.getPublicKeyId() }}'
            }
        });
        {{ buttonId }}_is_rendered = true;
    }
{% endcapture %}
{{ script({ add: amazonpay_login_script, dynamic: __oxid_include_dynamic }) }}
