{% set amazonConfig = oViewConf.getAmazonConfig() %}
{% set sToken = oViewConf.getSessionChallengeToken() %}
{%if not oxArticlesId %}
    {% set oxArticlesId = "" %}
{% endif %}
{% set aPayload = oViewConf.getPayloadExpress(oxArticlesId) %}
<div class="amazonpay-button {{ buttonclass }} express" id="{{ buttonId }}"></div>
{% capture assign = "amazonpay_script_expressbutton" %}
    if (typeof {{ buttonId }}_is_rendered === "undefined" || {{ buttonId }}_is_rendered !== true) {
        amazon.Pay.renderButton('#{{ buttonId }}', {
            merchantId: '{{ amazonConfig.getMerchantId() }}',
            sandbox: {% if amazonConfig.isSandbox() %}true{% else %}false{% endif %},
            ledgerCurrency: '{{ amazonConfig.getLedgerCurrency() }}',
            checkoutLanguage: '{{ amazonConfig.getCheckoutLanguage() }}',
            productType: 'PayAndShip',
            placement: '{{ placement }}',
            createCheckoutSessionConfig: {
                payloadJSON: '{{ aPayload|raw }}',
                signature: '{{ oViewConf.signature }}',
                publicKeyId: '{{ amazonConfig.getPublicKeyId() }}'
        }
    });
    {{ buttonId }}_is_rendered = true;
    }
{% endcapture %}
{{ script({ add: amazonpay_script_expressbutton, dynamic: __oxid_include_dynamic }) }}
