{% capture assign = "amazonpay_script_checkout_order" %}
    var amzChangeDelAddress = document.getElementById('amznChangeDelAddress');

    amzChangeDelAddress.addEventListener('click', function(e) {
        e.preventDefault();
    }, false);

    amazon.Pay.bindChangeAction('#amznChangeDelAddress', {
    amazonCheckoutSessionId: '{{ oViewConf.getAmazonSessionId() }}',
    changeAction: 'changeAddress'
    });
{% endcapture %}
{% set oDeliveryAddress = oView.getDeliveryAddressAsObj() %}
{% set oBillingAddress = oView.getBillingAddressAsObj() %}
{{ script({ add: amazonpay_script_checkout_order, dynamic: __oxid_include_dynamic }) }}
<div id="orderAddress">
    <form action="{{ oViewConf.getSslSelfLink()|raw }}" method="post">
        {{ oViewConf.getHiddenSid()|raw }}
        <input type="hidden" name="cl" value="user">
        <input type="hidden" name="fnc" value="">
        <h4 class="card-header card-title card-header-edit d-flex justify-content-between align-items-center">
            {{ translate({ ident: "BILLING_ADDRESS" }) }}
            <button type="submit" class="btn" id="amznChangeBillAddress"
                    title="{{ translate({ ident: "EDIT" }) }}">
                <svg aria-hidden="true">
                    <use xlink:href="#pencil"></use>
                </svg>
            </button>
        </h4>
        <div class="card-body">
            {% include "@osc_amazonpay/amazonpay/filtered_billing_address_apex" with {billadr: oBillingAddress} %}
        </div>
    </form>
    <form action="{{ oViewConf.getSslSelfLink()|raw }}" method="post">
        {{ oViewConf.getHiddenSid()|raw }}
        <input type="hidden" name="cl" value="user">
        <input type="hidden" name="fnc" value="">
        <h4 class="card-header card-title card-header-edit d-flex justify-content-between align-items-center">
            {{ translate({ ident: "SHIPPING_ADDRESS" }) }}
            <button type="submit" class="btn" id="amznChangeDelAddress"
                    title="{{ translate({ ident: "EDIT" }) }}">
                <svg aria-hidden="true">
                    <use xlink:href="#pencil"></use>
                </svg>
            </button>
        </h4>
        <div class="card-body">
            {% set oDelAdress = oView.getDelAddress() %}
            {% if oDeliveryAddress %}
                {% include "@osc_amazonpay/amazonpay/filtered_delivery_address_apex" with {delivadr: oDeliveryAddress} %}
            {% else %}
                {% include "@osc_amazonpay/amazonpay/filtered_billing_address_apex" with {billadr: oBillingAddress} %}
            {% endif %}
        </div>
    </form>
</div>